<div class="modal-header">
  <h5 class="modal-title">Update Policy</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div class="modal-body customer-edit">
  <form #PolicyForm="ngForm" autocomplete="off" novalidate>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="policyName">Policy Name <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="policyName"
            autocomplete="new-policyName"
            class="form-control"
            [ngClass]="{ 'is-invalid': PolicyName.dirty && PolicyName.errors }"
            name="policyName"
            #PolicyName="ngModel"
            required
            placeholder="please enter policy name"
            [(ngModel)]="policy.policyName">

          <div class="invalid-feedback"
            *ngIf="PolicyName.errors?.required">
            Please enter policy name
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="serviceTerm">Type Of Service <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="serviceTerms"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingServiceTerm"
            placeholder="please select type of service"
            [searchable]="false"
            name="serviceTerm"
            #ServiceTerm="ngModel"
            required
            [(ngModel)]="policy.serviceTerm"
            bindLabel="name">
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="ServiceTerm.errors?.required">
            Please select type of service
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="bandWidth">BandWidth (Mbps)</label>
          <input type="text" id="bandWidth"
            autocomplete="new-bandWidth"
            class="form-control"
            name="bandWidth"
            appNumbericValidator
            min="1"
            placeholder="please enter bandwidth"
            [(ngModel)]="policy.bandWidth">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="typeOfService">Service Term <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="typeOfServices"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingTypeOfService"
            placeholder="please select service term"
            [searchable]="false"
            name="typeOfServices"
            #TypeOfService="ngModel"
            required
            [(ngModel)]="policy.typeOfService"
            bindLabel="name">
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="TypeOfService.errors?.required">
            Please select service term
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="minDistance">Min Distance (km)</label>
          <input type="text" id="minDistance"
            autocomplete="new-minDistance"
            class="form-control"
            name="minDistance"
            appNumbericValidator
            placeholder="please enter min distance"
            [(ngModel)]="policy.minDistance">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="maxDistance">Max Distance (km)</label>
          <input type="text" id="maxDistance"
            autocomplete="new-maxDistance"
            class="form-control"
            name="maxDistance"
            appNumbericValidator
            placeholder="please enter max distance"
            [(ngModel)]="policy.maxDistance">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="otc">OTC (MMK) <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="otc"
            autocomplete="new-otc"
            class="form-control"
            [ngClass]="{ 'is-invalid': Otc.dirty && Otc.errors }"
            name="otc"
            #Otc="ngModel"
            required
            #OTC
            placeholder="please enter OTC"
            [ngModel]="policy.otc"
            (ngModelChange)="changeOtc()">

          <div class="invalid-feedback"
            *ngIf="Otc.errors?.required">
            Please enter otc
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="mrcMin">MRC Min (MMK) <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="mrcMin"
            autocomplete="new-mrcMin"
            class="form-control"
            [ngClass]="{ 'is-invalid': MrcMin.dirty && MrcMin.errors }"
            name="mrcMin"
            #MrcMin="ngModel"
            required
            #MRCMin
            placeholder="please enter MRC Min"
            [ngModel]="policy.mrcMin"
            (ngModelChange)="changeMRCMin()">

          <div class="invalid-feedback"
            *ngIf="MrcMin.errors?.required">
            Please enter min MRC
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="mrcMax">MRC Max (MMK) <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="mrcMax"
            autocomplete="new-mrcMax"
            class="form-control"
            [ngClass]="{ 'is-invalid': MrcMax.dirty && MrcMax.errors }"
            name="mrcMax"
            #MrcMax="ngModel"
            required
            #MRCMax
            placeholder="please enter MRC Max"
            [ngModel]="policy.mrcMax"
            (ngModelChange)="changeMRCMax()">

          <div class="invalid-feedback"
            *ngIf="MrcMax.errors?.required">
            Please enter max MRC
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="File">Policy PDF </label>
          <ng-select
            [items]="files"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingPolicy"
            placeholder="please select policy pdf"
            [searchable]="true"
            name="file"
            [(ngModel)]="policy.file"
            bindLabel="folder_record_id">
          </ng-select>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary w-25 mr-2" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary w-25 ml-2"
          (click)="updatePolicy()"
          [disabled]="isLoading || PolicyForm.form.invalid">
          OK
          <i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
