<div class="modal-header">
  <h5 class="modal-title">Update Customer</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div class="modal-body customer-edit">
  <form #CustomerForm="ngForm" autocomplete="off" novalidate>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="CustomerName">Customer Name <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="CustomerName"
            autocomplete="new-name"
            class="form-control"
            [ngClass]="{ 'is-invalid': Name.dirty && Name.errors }"
            name="customer_name"
            placeholder="please enter name"
            [(ngModel)]="customer.customerName"
            #Name="ngModel"
            required>

          <div class="invalid-feedback"
            *ngIf="Name.errors?.required">
            Please enter name
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="CustomerType">Customer Type <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="customerTypes"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingCustomerType"
            placeholder="please select type"
            [searchable]="false"
            [groupBy]="groupByFn"
            name="customerTypes"
            [(ngModel)]="customer.customerType"
            bindLabel="name"
            #CustomerType="ngModel"
            required>
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="CustomerType.errors?.required">
            Please select type
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="TypeInvestment">Type of investment</label>
          <ng-select
            [items]="typeOfInvestments"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingTypeOfInvestment"
            placeholder="please select type of investment"
            [searchable]="false"
            name="typeOfInvestments"
            [(ngModel)]="customer.typeOfInvestment"
            bindLabel="name">
          </ng-select>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="TypeOfSale">Type of Sale</label>
          <ng-select
            [items]="typeOfSales"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingTypeOfSale"
            placeholder="please select type of sale"
            [searchable]="false"
            name="typeOfSales"
            [(ngModel)]="customer.typeOfSale"
            bindLabel="name">
          </ng-select>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 form-group">
        <label for="Name">Assigned For Sale</label>
        <ng-select
          [items]="users"
          class="text-left"
          [closeOnSelect]="true"
          [clearable]="true"
          [loading]="isLoadingUser"
          placeholder="please select user"
          [searchable]="true"
          name="user"
          [(ngModel)]="customer.assignedStaff"
          bindLabel="code_full_name">
        </ng-select>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="CustomerStatus">Customer Status</label>
          <ng-select
            [items]="CUSTOMER_STATUSES"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            placeholder="please select status"
            [searchable]="false"
            name="CUSTOMER_STATUSES"
            [(ngModel)]="customer.customerStatus"
            bindLabel="name"
            bindValue="value">
          </ng-select>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Addess">Address</label>
          <input type="text" id="Addess"
            autocomplete="new-address"
            class="form-control"
            name="address"
            #AddressEdit
            placeholder="please enter address"
            [(ngModel)]="customer.address">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Region">Region <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="branches"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingBranch"
            placeholder="please select region"
            [searchable]="false"
            name="branches"
            [(ngModel)]="customer.branchId"
            (ngModelChange)="getDistrictList()"
            #Region="ngModel"
            bindLabel="name"
            bindValue="id"
            required>
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="Region.errors?.required">
            Please select region
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="District">District <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="districts"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingDistrict"
            placeholder="please select district"
            [searchable]="false"
            name="districts"
            [(ngModel)]="customer.districtId"
            (ngModelChange)="getTownshipList()"
            #District="ngModel"
            bindLabel="name"
            bindValue="id"
            required>
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="District.errors?.required">
            Please select district
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="role">Township <i class="required">&#40;*&#41;</i></label>
          <ng-select
            [items]="townships"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingTownship"
            placeholder="please select township"
            [searchable]="false"
            name="townships"
            [(ngModel)]="customer.townshipId"
            #Role="ngModel"
            bindLabel="name"
            bindValue="id"
            required>
          </ng-select>

          <div class="invalid-feedback"
            *ngIf="Role.errors?.required">
            Please select township
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="latitude">Latitude <i class="required">&#40;*&#41;</i></label>
          <input type="number" id="latitude"
            autocomplete="new-latitude"
            class="form-control"
            name="latitude"
            [ngClass]="{ 'is-invalid': Latitude.dirty && Latitude.errors }"
            #Latitude="ngModel"
            required
            placeholder="please enter latitude"
            [(ngModel)]="customer.latitude"
            (ngModelChange)="changeLatLng()"
            (blur)="findAddressWithLatLng()">

          <div class="invalid-feedback"
            *ngIf="Latitude.errors?.required">
            Please enter latitude
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="longitude">Longitude <i class="required">&#40;*&#41;</i></label>
          <input type="number" id="longitude"
            autocomplete="new-longitude"
            class="form-control"
            name="longitude"
            [ngClass]="{ 'is-invalid': Longitude.dirty && Longitude.errors }"
            #Longitude="ngModel"
            required
            placeholder="please enter longitude"
            [(ngModel)]="customer.longitude"
            (ngModelChange)="changeLatLng()"
            (blur)="findAddressWithLatLng()">

          <div class="invalid-feedback"
            *ngIf="Longitude.errors?.required">
            Please enter longitude
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Catalog">Catalog</label>
          <ng-select
            [items]="catalogs"
            class="text-left"
            [closeOnSelect]="true"
            [clearable]="true"
            [loading]="isLoadingCatalog"
            placeholder="please select catalog"
            [searchable]="false"
            name="catalogs"
            [(ngModel)]="customer.catalog"
            bindLabel="name">
          </ng-select>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="ContactName">Contact Name</label>
          <input type="text" id="ContactName"
            autocomplete="new-catalog"
            class="form-control"
            name="contact_name"
            placeholder="please enter contact name"
            [(ngModel)]="customer.contactName">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Phone">Phone</label>
          <input type="text" id="Phone"
            autocomplete="new-phone"
            class="form-control"
            name="phone"
            placeholder="please enter phone"
            [(ngModel)]="customer.phone">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="text" id="Email"
            autocomplete="new-email"
            class="form-control"
            [ngClass]="{ 'is-invalid': Email.dirty && Email.errors }"
            name="email"
            placeholder="please enter email"
            [(ngModel)]="customer.email"
            #Email="ngModel"
            [pattern]="rules.email">

          <div class="invalid-feedback"
            *ngIf="Email.errors?.pattern">
            The email address format is incorrect
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Position">Position</label>
          <input type="text" id="Position"
            autocomplete="new-position"
            class="form-control"
            name="position"
            placeholder="please enter position"
            [(ngModel)]="customer.position">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Service">Service</label>
          <input type="text" id="Service"
            autocomplete="new-service"
            class="form-control"
            name="service"
            placeholder="please enter service"
            [(ngModel)]="customer.service">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="Date">Date</label>
          <input type="text" id="Date"
            autocomplete="new-date"
            readonly
            placeholder="please select date"
            class="form-control"
            name="date"
            bsDatepicker
            [(ngModel)]="customer.customerDateBinding"
            [bsConfig]="DATEPICKER_CONFIG"
            (bsValueChange)="onValueChange($event)">
        </div>
      </div>
    </div>

    <div class="row form-group gmap">
      <div class="col-12 ">
        <app-customer-map
          [lat]="customer.latitude"
          [lng]="customer.longitude"
          [label]="customer.address"
          mode="edit"></app-customer-map>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary w-25 mr-2" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary w-25 ml-2"
          (click)="updateCustomer()"
          [disabled]="isLoading || CustomerForm.form.invalid || !customer.has_address">
          OK
          <i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
