<div class="modal-header">
  <h5 class="modal-title">Update Bts</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div class="modal-body customer-edit">
  <form #BtsForm="ngForm" autocomplete="off" novalidate>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="siteCode">Site Code <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="siteCode"
            autocomplete="new-siteCode"
            class="form-control"
            name="siteCode"
            [ngClass]="{ 'is-invalid': SiteCode.dirty && SiteCode.errors }"
            #SiteCode="ngModel"
            required
            placeholder="please enter site code"
            [(ngModel)]="bts.siteCode">

          <div class="invalid-feedback"
            *ngIf="SiteCode.errors?.required">
            Please enter site code
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="address">Address <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="address"
            autocomplete="new-address"
            class="form-control"
            name="address"
            [ngClass]="{ 'is-invalid': Address.dirty && Address.errors }"
            #Address="ngModel"
            required
            #Address
            placeholder="please enter address"
            [(ngModel)]="bts.address">

          <div class="invalid-feedback"
            *ngIf="Address.errors?.required">
            Please enter address
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="latitude">Latitude <i class="required">&#40;*&#41;</i></label>
          <input type="number" id="latitude"
            autocomplete="new-latitude"
            class="form-control"
            name="latitude"
            [ngClass]="{ 'is-invalid': Latitude.dirty && Latitude.errors }"
            #Latitude="ngModel"
            required
            placeholder="please enter latitude"
            [(ngModel)]="bts.latitude">

          <div class="invalid-feedback"
            *ngIf="Latitude.errors?.required">
            Please enter latitude
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="longitude">Longitude <i class="required">&#40;*&#41;</i></label>
          <input type="number" id="longitude"
            autocomplete="new-longitude"
            class="form-control"
            name="longitude"
            [ngClass]="{ 'is-invalid': Longitude.dirty && Longitude.errors }"
            #Longitude="ngModel"
            required
            placeholder="please enter longitude"
            [(ngModel)]="bts.longitude">

          <div class="invalid-feedback"
            *ngIf="Longitude.errors?.required">
            Please enter longitude
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="state">State/Region <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="state"
            autocomplete="new-state"
            class="form-control"
            name="state"
            [ngClass]="{ 'is-invalid': State.dirty && State.errors }"
            #State="ngModel"
            required
            placeholder="please enter state/region"
            [(ngModel)]="bts.state">

          <div class="invalid-feedback"
            *ngIf="State.errors?.required">
            Please enter state/region
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label for="townShip">Township <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="townShip"
            autocomplete="new-townShip"
            class="form-control"
            name="townShip"
            [ngClass]="{ 'is-invalid': TownShip.dirty && TownShip.errors }"
            #TownShip="ngModel"
            required
            placeholder="please enter township"
            [(ngModel)]="bts.townShip">

          <div class="invalid-feedback"
            *ngIf="TownShip.errors?.required">
            Please enter township
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary w-25 mr-2" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary w-25 ml-2"
          (click)="updateBts()"
          [disabled]="isLoading || BtsForm.form.invalid">
          OK
          <i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
