<div class="table-responsive py-4">
  <span>Showing {{ query.from }} to {{ query.to }} of {{ query.totalElements }} entries</span>
  <table class="table proposal-table">
    <thead>
      <tr>
        <th class="cursor-pointer" (click)="addOrder('customerName')">
          Cusotmer Name
          <i class="fa {{ getClassOrder('customerName') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('typeOfServiceName')">
          Service Term
          <i class="fa {{ getClassOrder('typeOfServiceName') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('serviceTermName')">
          Type Of Service
          <i class="fa {{ getClassOrder('serviceTermName') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('bandWidth')">
          Bandwidth (Mbps)
          <i class="fa {{ getClassOrder('bandWidth') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('distance')">
          Distance  (km)
          <i class="fa {{ getClassOrder('distance') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('otcNum')">
          OTC (MMK)
          <i class="fa {{ getClassOrder('otcNum') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('mrcNum')">
          MRC (MMK)
          <i class="fa {{ getClassOrder('mrcNum') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('total')">
          Total Price (MMK)
          <i class="fa {{ getClassOrder('total') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('reduceMrc')">
          Reduce MRC (%)
          <i class="fa {{ getClassOrder('reduceMrc') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('reduceOtc')">
          Reduce OTC (%)
          <i class="fa {{ getClassOrder('reduceOtc') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('totalTax')">
          Real Price (MMK)
          <i class="fa {{ getClassOrder('totalTax') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('timeForHire')">
          Time For Hire (months)
          <i class="fa {{ getClassOrder('timeForHire') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('timeForProvide')">
          Time For Provide (days)
          <i class="fa {{ getClassOrder('timeForProvide') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('staffName')">
          Sale Staff
          <i class="fa {{ getClassOrder('staffName') }}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quotation of proposalList;">
        <td>{{ quotation.customerName }}</td>
        <td>{{ quotation.typeOfServiceName }}</td>
        <td>{{ quotation.serviceTermName }}</td>
        <td>{{ quotation.bandWidth }}</td>
        <td>{{ quotation.distance }}</td>
        <td>{{ quotation.otc }}</td>
        <td>{{ quotation.mrc }}</td>
        <td>{{ quotation.totalStr }}</td>
        <td>{{ quotation.reduceMrc }}</td>
        <td>{{ quotation.reduceOtc }}</td>
        <td>{{ quotation.totalTaxStr }}</td>
        <td>{{ quotation.timeForHire }}</td>
        <td>{{ quotation.timeForProvide }}</td>
        <td>{{ quotation.staffName }}</td>
      </tr>
      <tr [ngClass]="{ 'hidden': proposalList.length > 0 }">
        <td colspan="13" class="text-center">
          Data not found
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination mt-4" [ngClass]="{ 'hidden': proposalList.length === 0 }">
  <pagination
    class="pagination-md"
    [totalItems]="query.totalElements"
    [(ngModel)]="query.currentPage"
    pageBtnClass="btn"
    [itemsPerPage]="query.size"
    [maxSize]="5"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>

<!-- <div class="table-responsive py-4">
  <table class="table table-bordered proposal-table">
    <thead>
      <tr>
        <th>Cusotmer</th>
        <th>Type Of Service</th>
        <th>Bandwidth (Mbps)</th>
        <th>distance</th>
        <th>Otc Site</th>
        <th>MRC</th>
        <th>Total Price (MMK)</th>
        <th>reduce MRC (%)</th>
        <th>Real Price (MMK)</th>
        <th>Time For Hire (months)</th>
        <th>Time For Provide (days)</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td rowspan="4">Cusotmer A</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="3">Cusotmer D</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="5">Cusotmer C</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</div> -->
