@import 'modules/index';

.form-control[readonly] {
  background-color: #fff;
}

.hidden {
  display: none !important;
}

.pagination {
  align-items: center;
  justify-content: center;
}

.table {
  thead th,
  tbody td {
    vertical-align: middle;
  }
}

.modal-header {
  .close {
    padding: 0;
    margin: 0;
  }

  .modal-title {
    margin: 0 auto;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.pac-container {
  z-index: 1051 !important;
}

.fc-day-grid-event .fc-time {
  display: none;
}

i.required {
  color: #dc3545;
}

.text {
  &--break {
    white-space: pre-wrap;
    word-break: break-all;
  }
}

.bg--white {
  background-color: #fff;
}

.form-control-plaintext:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.ng-select.ng-select-disabled.readonly {
  .ng-arrow-wrapper {
    display: none;
  }

  & > .ng-select-container {
    background-color: #fff;
    border-color: #fff;

    &:hover {
      box-shadow: none;
    }
  }
}
