@import url(https://fonts.googleapis.com/css?family=Poppins);
.scenery,
.star {
  position: absolute;
}
.girl .body,
.girl .head,
.planet {
  box-sizing: border-box;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.action button,
body {
  font-family: Poppins;
}
.square,
.title h1 span,
caption,
td,
th {
  vertical-align: middle;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
td,
th {
  text-align: left;
  font-weight: 400;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
@keyframes shining {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.scenery {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: #fff;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #2a1f6f), color-stop(100%, #ae3082));
  background-image: -moz-linear-gradient(#2a1f6f, #ae3082);
  background-image: -webkit-linear-gradient(#2a1f6f, #ae3082);
  background-image: linear-gradient(#2a1f6f, #ae3082);
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 100px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 100px;
}
.star {
  z-index: 1;
  background-color: #fff;
  animation-name: shining;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  -moz-box-shadow: #fff 0 0 5px;
  -webkit-box-shadow: #fff 0 0 5px;
  box-shadow: #fff 0 0 5px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.square,
.title {
  position: relative;
}
.star:nth-child(1) {
  width: 1px;
  height: 1px;
  bottom: 236px;
  left: 643px;
  animation-duration: 1s;
}
.star:nth-child(2) {
  width: 3px;
  height: 3px;
  bottom: 242px;
  left: 7px;
  animation-duration: 4s;
}
.star:nth-child(3) {
  width: 3px;
  height: 3px;
  bottom: 546px;
  left: 477px;
  animation-duration: 0.5s;
}
.star:nth-child(4) {
  width: 3px;
  height: 3px;
  bottom: 443px;
  left: 107px;
  animation-duration: 4s;
}
.star:nth-child(5) {
  width: 2px;
  height: 2px;
  bottom: 2px;
  left: 901px;
  animation-duration: 0.33333s;
}
.star:nth-child(6) {
  width: 2px;
  height: 2px;
  bottom: 472px;
  left: 981px;
  animation-duration: 1.5s;
}
.star:nth-child(7) {
  width: 3px;
  height: 3px;
  bottom: 83px;
  left: 751px;
  animation-duration: 0.33333s;
}
.star:nth-child(8) {
  width: 3px;
  height: 3px;
  bottom: 286px;
  left: 459px;
  animation-duration: 1s;
}
.star:nth-child(9) {
  width: 1px;
  height: 1px;
  bottom: 278px;
  left: 602px;
  animation-duration: 1s;
}
.star:nth-child(10) {
  width: 1px;
  height: 1px;
  bottom: 577px;
  left: 389px;
  animation-duration: 0.33333s;
}
.star:nth-child(11) {
  width: 1px;
  height: 1px;
  bottom: 296px;
  left: 453px;
  animation-duration: 1.5s;
}
.star:nth-child(12) {
  width: 1px;
  height: 1px;
  bottom: 8px;
  left: 69px;
  animation-duration: 3s;
}
.star:nth-child(13) {
  width: 2px;
  height: 2px;
  bottom: 583px;
  left: 413px;
  animation-duration: 4s;
}
.star:nth-child(14) {
  width: 3px;
  height: 3px;
  bottom: 519px;
  left: 930px;
  animation-duration: 3s;
}
.star:nth-child(15) {
  width: 1px;
  height: 1px;
  bottom: 189px;
  left: 21px;
  animation-duration: 0.66667s;
}
.star:nth-child(16) {
  width: 2px;
  height: 2px;
  bottom: 406px;
  left: 82px;
  animation-duration: 0.33333s;
}
.star:nth-child(17) {
  width: 1px;
  height: 1px;
  bottom: 68px;
  left: 714px;
  animation-duration: 0.33333s;
}
.star:nth-child(18) {
  width: 2px;
  height: 2px;
  bottom: 517px;
  left: 827px;
  animation-duration: 2s;
}
.star:nth-child(19) {
  width: 3px;
  height: 3px;
  bottom: 527px;
  left: 314px;
  animation-duration: 2s;
}
.star:nth-child(20) {
  width: 3px;
  height: 3px;
  bottom: 82px;
  left: 13px;
  animation-duration: 1.5s;
}
.star:nth-child(21) {
  width: 2px;
  height: 2px;
  bottom: 380px;
  left: 769px;
  animation-duration: 1s;
}
.star:nth-child(22) {
  width: 2px;
  height: 2px;
  bottom: 198px;
  left: 848px;
  animation-duration: 0.66667s;
}
.star:nth-child(23) {
  width: 1px;
  height: 1px;
  bottom: 551px;
  left: 305px;
  animation-duration: 1s;
}
.star:nth-child(24) {
  width: 3px;
  height: 3px;
  bottom: 295px;
  left: 768px;
  animation-duration: 0.5s;
}
.star:nth-child(25) {
  width: 2px;
  height: 2px;
  bottom: 431px;
  left: 621px;
  animation-duration: 0.66667s;
}
.star:nth-child(26) {
  width: 2px;
  height: 2px;
  bottom: 388px;
  left: 983px;
  animation-duration: 1s;
}
.star:nth-child(27) {
  width: 1px;
  height: 1px;
  bottom: 581px;
  left: 658px;
  animation-duration: 0.33333s;
}
.star:nth-child(28) {
  width: 3px;
  height: 3px;
  bottom: 191px;
  left: 138px;
  animation-duration: 3s;
}
.star:nth-child(29) {
  width: 3px;
  height: 3px;
  bottom: 234px;
  left: 548px;
  animation-duration: 1s;
}
.star:nth-child(30) {
  width: 2px;
  height: 2px;
  bottom: 344px;
  left: 19px;
  animation-duration: 4s;
}
.star:nth-child(31) {
  width: 2px;
  height: 2px;
  bottom: 78px;
  left: 301px;
  animation-duration: 3s;
}
.star:nth-child(32) {
  width: 3px;
  height: 3px;
  bottom: 297px;
  left: 907px;
  animation-duration: 2s;
}
.star:nth-child(33) {
  width: 2px;
  height: 2px;
  bottom: 157px;
  left: 815px;
  animation-duration: 1s;
}
.star:nth-child(34) {
  width: 3px;
  height: 3px;
  bottom: 344px;
  left: 561px;
  animation-duration: 1s;
}
.star:nth-child(35) {
  width: 3px;
  height: 3px;
  bottom: 207px;
  left: 464px;
  animation-duration: 2s;
}
.star:nth-child(36) {
  width: 2px;
  height: 2px;
  bottom: 560px;
  left: 470px;
  animation-duration: 0.33333s;
}
.star:nth-child(37) {
  width: 1px;
  height: 1px;
  bottom: 441px;
  left: 611px;
  animation-duration: 1s;
}
.star:nth-child(38) {
  width: 2px;
  height: 2px;
  bottom: 244px;
  left: 340px;
  animation-duration: 2s;
}
.star:nth-child(39) {
  width: 3px;
  height: 3px;
  bottom: 209px;
  left: 791px;
  animation-duration: 4s;
}
.star:nth-child(40) {
  width: 2px;
  height: 2px;
  bottom: 344px;
  left: 295px;
  animation-duration: 2s;
}
.star:nth-child(41) {
  width: 3px;
  height: 3px;
  bottom: 440px;
  left: 794px;
  animation-duration: 0.66667s;
}
.star:nth-child(42) {
  width: 3px;
  height: 3px;
  bottom: 292px;
  left: 319px;
  animation-duration: 1.5s;
}
.star:nth-child(43) {
  width: 1px;
  height: 1px;
  bottom: 587px;
  left: 756px;
  animation-duration: 1.33333s;
}
.star:nth-child(44) {
  width: 1px;
  height: 1px;
  bottom: 436px;
  left: 704px;
  animation-duration: 0.5s;
}
.star:nth-child(45) {
  width: 2px;
  height: 2px;
  bottom: 536px;
  left: 53px;
  animation-duration: 2s;
}
.star:nth-child(46) {
  width: 2px;
  height: 2px;
  bottom: 105px;
  left: 854px;
  animation-duration: 0.5s;
}
.star:nth-child(47),
.star:nth-child(48) {
  width: 2px;
  height: 2px;
  animation-duration: 4s;
}
.star:nth-child(47) {
  bottom: 462px;
  left: 951px;
}
.star:nth-child(48) {
  bottom: 512px;
  left: 695px;
}
.star:nth-child(49) {
  width: 1px;
  height: 1px;
  bottom: 558px;
  left: 966px;
  animation-duration: 1.33333s;
}
.star:nth-child(50) {
  width: 2px;
  height: 2px;
  bottom: 79px;
  left: 146px;
  animation-duration: 2s;
}
.star:nth-child(51) {
  width: 1px;
  height: 1px;
  bottom: 293px;
  left: 703px;
  animation-duration: 3s;
}
.star:nth-child(52) {
  width: 3px;
  height: 3px;
  bottom: 541px;
  left: 984px;
  animation-duration: 3s;
}
.star:nth-child(53) {
  width: 2px;
  height: 2px;
  bottom: 596px;
  left: 15px;
  animation-duration: 1s;
}
.star:nth-child(54) {
  width: 3px;
  height: 3px;
  bottom: 616px;
  left: 106px;
  animation-duration: 1s;
}
.star:nth-child(55) {
  width: 2px;
  height: 2px;
  bottom: 127px;
  left: 512px;
  animation-duration: 2s;
}
.star:nth-child(56) {
  width: 1px;
  height: 1px;
  bottom: 19px;
  left: 797px;
  animation-duration: 1s;
}
.star:nth-child(57) {
  width: 2px;
  height: 2px;
  bottom: 333px;
  left: 943px;
  animation-duration: 1s;
}
.star:nth-child(58) {
  width: 2px;
  height: 2px;
  bottom: 258px;
  left: 474px;
  animation-duration: 1.33333s;
}
.star:nth-child(59) {
  width: 2px;
  height: 2px;
  bottom: 69px;
  left: 351px;
  animation-duration: 0.66667s;
}
.star:nth-child(60),
.star:nth-child(61) {
  animation-duration: 0.5s;
  width: 1px;
  height: 1px;
}
.star:nth-child(60) {
  bottom: 101px;
  left: 936px;
}
.star:nth-child(61) {
  bottom: 299px;
  left: 336px;
}
.star:nth-child(62) {
  width: 1px;
  height: 1px;
  bottom: 141px;
  left: 119px;
  animation-duration: 0.33333s;
}
.star:nth-child(63) {
  width: 2px;
  height: 2px;
  bottom: 16px;
  left: 925px;
  animation-duration: 0.33333s;
}
.star:nth-child(64) {
  width: 2px;
  height: 2px;
  bottom: 402px;
  left: 693px;
  animation-duration: 2s;
}
.star:nth-child(65) {
  width: 3px;
  height: 3px;
  bottom: 510px;
  left: 767px;
  animation-duration: 1s;
}
.star:nth-child(66) {
  width: 1px;
  height: 1px;
  bottom: 314px;
  left: 560px;
  animation-duration: 1s;
}
.star:nth-child(67) {
  width: 3px;
  height: 3px;
  bottom: 329px;
  left: 791px;
  animation-duration: 2s;
}
.star:nth-child(68) {
  width: 2px;
  height: 2px;
  bottom: 145px;
  left: 810px;
  animation-duration: 2s;
}
.star:nth-child(69) {
  width: 1px;
  height: 1px;
  bottom: 501px;
  left: 508px;
  animation-duration: 1.5s;
}
.star:nth-child(70) {
  width: 2px;
  height: 2px;
  bottom: 577px;
  left: 126px;
  animation-duration: 1.5s;
}
.star:nth-child(71) {
  width: 3px;
  height: 3px;
  bottom: 390px;
  left: 776px;
  animation-duration: 1.5s;
}
.star:nth-child(72) {
  width: 2px;
  height: 2px;
  bottom: 351px;
  left: 759px;
  animation-duration: 1.33333s;
}
.star:nth-child(73),
.star:nth-child(74) {
  animation-duration: 1s;
  width: 2px;
  height: 2px;
}
.star:nth-child(73) {
  bottom: 342px;
  left: 52px;
}
.star:nth-child(74) {
  bottom: 265px;
  left: 198px;
}
.star:nth-child(75) {
  width: 2px;
  height: 2px;
  bottom: 163px;
  left: 731px;
  animation-duration: 2s;
}
.star:nth-child(76) {
  width: 3px;
  height: 3px;
  bottom: 570px;
  left: 611px;
  animation-duration: 0.33333s;
}
.star:nth-child(77) {
  width: 3px;
  height: 3px;
  bottom: 11px;
  left: 324px;
  animation-duration: 2s;
}
.star:nth-child(78) {
  width: 3px;
  height: 3px;
  bottom: 151px;
  left: 151px;
  animation-duration: 1.5s;
}
.star:nth-child(79) {
  width: 2px;
  height: 2px;
  bottom: 189px;
  left: 666px;
  animation-duration: 1s;
}
.star:nth-child(80) {
  width: 1px;
  height: 1px;
  bottom: 182px;
  left: 675px;
  animation-duration: 0.5s;
}
.star:nth-child(81) {
  width: 3px;
  height: 3px;
  bottom: 616px;
  left: 709px;
  animation-duration: 4s;
}
.star:nth-child(82) {
  width: 3px;
  height: 3px;
  bottom: 55px;
  left: 94px;
  animation-duration: 1s;
}
.star:nth-child(83) {
  width: 3px;
  height: 3px;
  bottom: 482px;
  left: 869px;
  animation-duration: 2s;
}
.star:nth-child(84) {
  width: 3px;
  height: 3px;
  bottom: 469px;
  left: 718px;
  animation-duration: 0.33333s;
}
.star:nth-child(85),
.star:nth-child(86),
.star:nth-child(87),
.star:nth-child(88) {
  animation-duration: 1.33333s;
}
.star:nth-child(85) {
  width: 2px;
  height: 2px;
  bottom: 475px;
  left: 541px;
}
.star:nth-child(86) {
  width: 1px;
  height: 1px;
  bottom: 55px;
  left: 605px;
}
.star:nth-child(87) {
  width: 3px;
  height: 3px;
  bottom: 247px;
  left: 904px;
}
.star:nth-child(88) {
  width: 2px;
  height: 2px;
  bottom: 416px;
  left: 804px;
}
.star:nth-child(89) {
  width: 2px;
  height: 2px;
  bottom: 175px;
  left: 921px;
  animation-duration: 1s;
}
.star:nth-child(90) {
  width: 3px;
  height: 3px;
  bottom: 480px;
  left: 233px;
  animation-duration: 3s;
}
.star:nth-child(91) {
  width: 1px;
  height: 1px;
  bottom: 149px;
  left: 377px;
  animation-duration: 1.33333s;
}
.star:nth-child(92) {
  width: 3px;
  height: 3px;
  bottom: 260px;
  left: 460px;
  animation-duration: 1s;
}
.star:nth-child(93) {
  width: 2px;
  height: 2px;
  bottom: 439px;
  left: 473px;
  animation-duration: 0.66667s;
}
.star:nth-child(94) {
  width: 2px;
  height: 2px;
  bottom: 251px;
  left: 593px;
  animation-duration: 1s;
}
.star:nth-child(95) {
  width: 1px;
  height: 1px;
  bottom: 235px;
  left: 45px;
  animation-duration: 1s;
}
.star:nth-child(96) {
  width: 2px;
  height: 2px;
  bottom: 601px;
  left: 901px;
  animation-duration: 2s;
}
.star:nth-child(97) {
  width: 3px;
  height: 3px;
  bottom: 259px;
  left: 918px;
  animation-duration: 0.66667s;
}
.star:nth-child(98) {
  width: 1px;
  height: 1px;
  bottom: 529px;
  left: 318px;
  animation-duration: 1.33333s;
}
.star:nth-child(99) {
  width: 1px;
  height: 1px;
  bottom: 585px;
  left: 245px;
  animation-duration: 1s;
}
.title {
  z-index: 50;
}
.title h1 {
  font-size: 15rem;
  font-weight: 700;
}
.title h1 span {
  margin: 0 30px;
}
.square .stairs2 li,
.square .stairs4 li {
  margin-right: 3.5px;
}
.message {
  margin-top: 50px;
}
.message h2 {
  font-size: 1.8rem;
}
.action {
  margin-top: 30px;
}
.action button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  border: 2px solid #ff9c61;
  background-color: #ff9c61;
  border-radius: 50px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0 0 15px #ff9c61;
}
.action button:hover {
  cursor: pointer;
  background-color: transparent;
}
.square {
  width: 150px;
  height: 150px;
  display: inline-block;
  left: -30px;
  -moz-transform: scale(1.1) rotate(45deg);
  -ms-transform: scale(1.1) rotate(45deg);
  -webkit-transform: scale(1.1) rotate(45deg);
  transform: scale(1.1) rotate(45deg);
}
.square > * {
  position: absolute;
}
.square .light {
  box-shadow: 0 0 10px #fedbae;
  background-color: #fedbae;
}
.square .light1,
.square .light3 {
  width: 15px;
  height: 135px;
  -moz-transform: skew(0deg, 45deg);
  -ms-transform: skew(0deg, 45deg);
  -webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
}
.square .light2,
.square .light4 {
  width: 120px;
  height: 15px;
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.square .light1 {
  z-index: 10;
  top: 5.5px;
  left: 15px;
}
.square .light3 {
  z-index: 2;
  top: 7.5px;
  right: 15px;
}
.square .light2 {
  top: 0;
  left: 22.5px;
}
.square .light4 {
  bottom: 0;
  right: 22.5px;
}
.square .shadow {
  background-color: #ff9c61;
  box-shadow: 0 0 10px #ff9c61;
}
.square .shadow1 {
  bottom: 7.5px;
  right: 0;
  width: 15px;
  height: 120px;
  -moz-transform: skew(0deg, -45deg);
  -ms-transform: skew(0deg, -45deg);
  -webkit-transform: skew(0deg, -45deg);
  transform: skew(0deg, -45deg);
}
.square .shadow2 {
  z-index: 3;
  top: 15px;
  left: 22.5px;
  width: 120px;
  height: 15px;
  -moz-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.square .stairs1 li,
.square .stairs2 li,
.square .stairs3 li,
.square .stairs4 li {
  position: relative;
  width: 7.5px;
  height: 7.5px;
  background-color: #fedbae;
  box-shadow: 0 0 10px #fedbae;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.square .stairs1 li::before,
.square .stairs2 li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 7.5px;
  height: 13px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZGJhZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOWM2MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 50%, 100% 50%, color-stop(0, #fedbae), color-stop(100%, #ff9c61));
  background-image: -moz-linear-gradient(left, #fedbae, #ff9c61);
  background-image: -webkit-linear-gradient(left, #fedbae, #ff9c61);
  background-image: linear-gradient(to right, #fedbae, #ff9c61);
  box-shadow: 0 0 10px #fedbae;
}
.square .stairs1 {
  top: 1px;
  left: 11px;
  width: 0;
  height: 150px;
}
.square .stairs1 li {
  margin-bottom: 3px;
}
.square .stairs1 li::before {
  top: 100%;
}
.square .stairs2 {
  z-index: 10;
  bottom: 19px;
  left: 3px;
  width: 150px;
  height: 0;
  display: flex;
}
.square .stairs2 li:last-child::before {
  background: #fedbae;
}
.square .stairs2 li::before {
  bottom: 100%;
}
.square .stairs3 {
  bottom: -32px;
  right: 34px;
  width: 0;
  height: 150px;
  z-index: 10;
}
.square .stairs3 li {
  margin-bottom: 3.5px;
}
.square .stairs4 {
  top: -4px;
  left: 16px;
  width: 150px;
  height: 0;
  display: flex;
}
.planet {
  position: absolute;
  z-index: 10;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.planet::after,
.planet::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.planet::before {
  width: 70px;
  height: 70px;
}
.planet::after {
  width: 60px;
  height: 60px;
}
.planet1 {
  box-shadow: 0 0 30px #a3358c;
  bottom: 260px;
  left: 50px;
  border: 5px solid #a3358c;
  background-color: #cf3684;
}
.planet1::before {
  background-color: #fd8f5d;
}
.planet1::after {
  background-color: #ffdf70;
}
.planet2 {
  box-shadow: 0 0 30px #1383df;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  bottom: 40px;
  right: 80px;
  border: 5px solid #1383df;
  background-color: #08abf3;
}
.planet2::before {
  background-color: #11c1f1;
}
.planet2::after {
  background-color: #22e5f1;
}
.planet3 {
  box-shadow: 0 0 30px #7a7afe;
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  top: 20px;
  right: 30px;
  border: 5px solid #7a7afe;
  background-color: #9a82ff;
}
.planet3::before {
  background-color: #b588ff;
}
.planet3::after {
  background-color: #d491ff;
}
.girl {
  position: absolute;
  z-index: 99;
  width: 12px;
  height: 40px;
  top: 130px;
  left: 460px;
}
.girl .head {
  position: relative;
  z-index: 10;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-left: 3px solid #000;
  border-radius: 5px;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.girl .body,
.girl .head::before {
  width: 0;
  height: 0;
  position: absolute;
}
.girl .head::before {
  content: '';
  left: -16px;
  top: 0;
  display: block;
  border-right: 15px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 4px solid transparent;
}
.girl .body {
  top: 7px;
  left: -2px;
  border-bottom: 20px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 7px;
}
.girl .legs {
  position: absolute;
  bottom: 5px;
  left: 3px;
  width: 3px;
  height: 10px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
