<div class="table-responsive py-4">
  <span>Showing {{ query.from }} to {{ query.to }} of {{ query.totalElements }} entries</span>
  <table class="table user-table">
    <thead>
      <tr>
        <th>Action</th>
        <th class="cursor-pointer" (click)="addOrder('userName')">
          User Name
          <i class="fa {{ getClassOrder('userName') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('role')">
          Role
          <i class="fa {{ getClassOrder('role') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('fullName')">
          Full Name
          <i class="fa {{ getClassOrder('fullName') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('email')">
          Email
          <i class="fa {{ getClassOrder('email') }}"></i>
        </th>
        <th class="cursor-pointer" (click)="addOrder('phone')">
          Phone
          <i class="fa {{ getClassOrder('phone') }}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList;">
        <td>
          <button type="button" class="mr-1 btn btn-info" (click)="editUser(user)"><i class="fa fa-edit"></i></button>
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
      </tr>
      <tr [ngClass]="{ 'hidden': userList.length > 0 }">
        <td colspan="6" class="text-center">
          Data not found
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination mt-4" [ngClass]="{ 'hidden': userList.length === 0 }">
  <pagination
    class="pagination-md"
    [totalItems]="query.totalElements"
    [(ngModel)]="query.currentPage"
    pageBtnClass="btn"
    [itemsPerPage]="query.size"
    [maxSize]="5"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
