<div class="modal-header">
  <h5 class="modal-title">{{ folder.id ? 'Update' : 'Create' }} Folder</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>

<div class="modal-body customer-edit">
  <form #FolderForm="ngForm" autocomplete="off" novalidate>
    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group">
          <label for="folderName">Folder Name <i class="required">&#40;*&#41;</i></label>
          <input type="text" id="folderName"
            autocomplete="new-name"
            class="form-control"
            [ngClass]="{ 'is-invalid': FolderName.dirty && FolderName.errors }"
            name="folderName"
            #FolderName="ngModel"
            required
            placeholder="please enter name"
            [ngModel]="folder.name">

          <div class="invalid-feedback"
            *ngIf="FolderName.errors?.required">
            Please enter folder's name
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary w-25 mr-2" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary w-25 ml-2"
          (click)="createOrUpdateFolder()"
          [disabled]="isLoading || FolderForm.form.invalid">
          OK
          <i *ngIf="isLoading" class="fa fa-refresh fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>
