<nav class="nav nav-tabs msm-tabs mb-4">
  <a class="nav-item nav-link" [routerLink]="['/msm', 'filters']" routerLinkActive="active">Scheduler Information</a>
  <a class="nav-item nav-link"
    [routerLink]="['/msm', 'create']"
    routerLinkActive="active">Scheduler Create</a>
</nav>

<router-outlet></router-outlet>

<div class="row">
  <div class="col-12">
    <app-scheduler-calendar></app-scheduler-calendar>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-sale-activity-list></app-sale-activity-list>
  </div>
</div>
