agm-map {
  height: 100%;
}

@media (max-width: 991.98px) {
  agm-map {
    height: 500px;
    margin-top: 20px;
  }
}

.gmap-wrapper {
  height: 100%;
  position: relative;

  .search-box {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 10px;
    width: 50%;
  }
}
