<div class="gmap-wrapper">
  <div class="search-box">
    <input type="text" name="address" class="form-control" #Address>
  </div>

  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDoubleClickZoom]="true"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    [gestureHandling]="'coopeative'"
    (mapClick)="mapClicked($event)">

    <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [iconUrl]="m.iconUrl"
        [markerDraggable]="m.draggable">
    </agm-marker>
  </agm-map>
</div>
